sudo: false
language: go
go:
  - 1.7
  - master
matrix:
  allow_failures:
    - go: master
  include:
    - go: go1.8rc3
      env: CAN_AFTER_SUCCESS=true
  fast_finish: true
install:
  - # Do nothing. This is needed to prevent default install action "go get -t -v ./..." from happening here (we want it to happen inside script step).
script:
  - go get -t -v ./...
  - diff -u <(echo -n) <(gofmt -d -s .)
  - go tool vet .
  - go test -v -race ./...
deploy:
  - provider: script
    script: .travis/always.sh
    on:
      all_branches: true
      condition: $CAN_AFTER_SUCCESS == "true"
  - provider: script
    script: .travis/master.sh
    on:
      branch: master
      condition: $CAN_AFTER_SUCCESS == "true"
  - provider: script
    script: .travis/tagged.sh
    on:
      tags: true
      condition: $CAN_AFTER_SUCCESS == "true"
